<%- include("../layouts/header", {title: "Not Found" }) %>
    <div class="container">
        <div class="row align-items-center">
            <h1 class="display-1">404 Page EJS view</h1>
            <label>Go to homse site, click <a href="/">here</a>.</label>
        </div>
    </div>
    <%- include("../layouts/footer") %>