<%- include("../layouts/header", {title: "Dashboard" }) %>
    <%- include("../layouts/navbar") %>
        <h1>Index view</h1>
        <h2>
            <%= title%>
        </h2>
        <%- include("../layouts/footer") %>